* {
    box-sizing: border-box;
    margin: 0;
}

.contenedor {
    position: relative;
}

.circuito {
    position: absolute;
}

.car {
    position: absolute;
    top: 15px;
    left: 110px;
    width: 120px;
    animation: carMov 2s infinite linear;
    animation-play-state: paused;
}

.car:hover{
    animation-play-state: running;
}

@keyframes carMov {
    0% {
        transform: translate(0, 0) rotate(0deg);  /* El coche comienza en la posición inicial sin rotación */
    }
    20% {
        transform: translate(340px, 0) rotate(0deg);  /* El coche se mueve a la derecha sin rotación */
    }
    40% {
        transform: translate(340px, 180px) rotate(180deg);  /* El coche se mueve hacia abajo y rota 180 grados */
    }
    60% {
        transform: translate(0, 180px) rotate(180deg);  /* El coche se mueve hacia la izquierda manteniendo la rotación */
    }
    80% {
        transform: translate(-60px, 0) rotate(360deg);  /* El coche sube nuevamente a la posición inicial y rota 360 grados */
    }
    100% {
        transform: translate(360px, 0) rotate(360deg);  /* El coche se vuelve a mover a la derecha */
    }
}