* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: red;
    padding: 20px;
}
#principal {
    display: flex;
}
.logo {
    margin-left: 275px;
    margin-right: 150px;
}
.lista  ul{
    list-style: none;
    display: flex;
}
.lista li {
    margin-right: 15px;
}
.lista li a {
    text-decoration: none;
    color: white;
}
.account  img{
    width: 20px;
    height: 20px;
}