
@font-face {
  font-family: 'Scary Halloween Font';
  src: url(fonts/scary_halloween/Scary\ Halloween\ Font.ttf) format('truetype');
}
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.logo{
  position: relative;
  margin-top: 0px;
  float: left;
  width: 80px;
  height: auto;
}
.navegacion{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 20px;
        overflow: hidden;
        background-color: rgb(214, 139, 0);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(214, 139, 0);
      }
}
h1 {
  font-family: 'Scary Halloween Font';
  color: black;
}
h2 {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: rgb(214, 139, 0);
  padding: 20px;
  font-weight: bold;
  }
  
.imagen1{
  width: 400px;
  height: auto;
}
.imagen2{
  width: 335px;
  height: auto;
}
.imagen3{
  width: 335px;
  height: auto;
}
.imagen4{
  width: 400px;
  height: auto;
}
.imagen5{
  width: 335px;
  height: auto;
}
.imagen6{
  width: 335px;
  height: auto;
}
footer{
  background-color: rgb(214, 139, 0);
}