html{
  margin: 0px 40px;
  background-color: rgb(255, 184, 51);
}
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.navegacion{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        /* margin-right: 688px;
        margin-left: 688px; */
        background-color: rgb(214, 139, 0);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #111;
      }
}
