html {
  background-color: orange;
}
@font-face {
  font-family: 'Scary Halloween Font';
  src: url(fonts/scary_halloween/Scary\ Halloween\ Font.ttf) format('truetype');
}
.titulo {
  font-family: 'Scary Halloween Font';
  margin-left: 670px;
  color: black;
}
header {
  display: flex;
  align-items: center; /* Alinea verticalmente el logo y la barra de navegación */
  padding: 10px; /*Añade un poco de espacio alrededor*/
}
.logo {
  margin-left: 50px;
  width: 80px;
  height: auto;
}
.navbar {
  margin-left: 550px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
  }
  
  li {
   float: left;
  }
  
  li a {
    display: inline-flex;
    color: black;
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
  }
  li:hover{
    font-family:'Scary Halloween Font' ;
  }
}

/* formato de imagenes*/
.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}
.imagen1{
  width: 400px;
  height: auto;
}
.imagen2{
  width: 335px;
  height: auto;
}
.imagen3{
  width: 335px;
  height: auto;
}
.imagen4{
  width: 400px;
  height: auto;
}
.imagen5{
  width: 335px;
  height: auto;
}
.imagen6{
  width: 335px;
  height: auto;
}