* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 5rem;
}
.ficha {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 3rem;
}

.anverso {
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 0;
    opacity: 0;
    transform: rotateY(180deg);
    transition: z-index 0.5s, transform 0.5s;
    border-radius: 25px;
}

.reverso {
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 1;
    opacity: 0.3;
    transform: rotateY(0deg);
    transition: z-index 0.5s, transform 0.5s;
    border-radius: 25px;
}

#cuatro .anverso {
    background-image: url('img/cuatro.jpg');
    background-size: 100% 100%;
}

#ocho .anverso {
    background-image: url('img/ocho.jpg');
    background-size: 100% 100%;
}

#rey .anverso {
    background-image: url('img/rey.jpg');
    background-size: 100% 100%;
}

#cuatro .reverso, 
#ocho .reverso, 
#rey .reverso {
    background-image: url('img/reverso.jpg');
    background-size: 100% 100%;
}

.girada .anverso{
    opacity: 1;
    z-index: 1;
    transform: rotateY(0deg);
}

.girada .reverso {
    opacity: 1;
    z-index: 0;
    transform: rotateY(180deg);
}

.ficha:hover .reverso {
    opacity: 1;
}