* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
header {
    background-color: white;
    padding: 20px;    
}
#principal {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 4%;
    margin-left: 4%;
    gap: 30px;
}
.logo img {
    width: 90px;
    height: auto;
}
.barra ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
.barra li a {
    text-decoration: none;
    color: rgb(131, 131, 131);
}
.barra li a:hover {
    color: black;
}
.busqueda img {
    width: 20px;
    height: 20px;
}
.busqueda{
  margin-left: auto;
}



