*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#main {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}
#header {
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
#header h1 {
    margin-top: 15px;
    margin-left: 5px;
    font-size: 35px;
}
#header h2 {
    margin-left: 5px;
    font-size: 10px;
    color: #b6a99b;
}
#header a {
    color: white;
    text-decoration: none;
}

#header li {
    list-style: none;
}
#logo_text {
    background-color: rgb(43, 40, 40);
    border-bottom: 1px solid white;
}
#logo_text h2 {
    padding-bottom: 20px;
}
#menubar {
    background-color: grey;
}
#menu{
    display: flex;
    justify-content: right;
    padding: 10px;
}
#menu li {
    margin-right: 10px;
    margin-left: 10px;
    background-color: brown;
    padding: 10px;
    color: white;
    width: fit-content;
    height: fit-content;
}
#banner {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 98%;
    height: 200px;
    border: 10px solid #DDD;
}
#sidebar_container {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    width: 15%;
    float: left;
}
.sidebar_item {
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.sidebar_item h3,h4,h5, p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidebar li a {
    color: #b6a99b;
}
.sidebar h3{
    margin-top: 10px;
}
.sidebar h4 {
    margin-top: 10px;
    text-transform: uppercase;
    color: #b6a99b;
}
.sidebar h5 {
    font-size: 12px;
}
.sidebar_item p {
    margin-top: 15px;
}
.sidebar_item li {
    margin-left: 15px;
    list-style: none;
}

.sidebar li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(lista.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    vertical-align: middle;
}
#content {
    margin-top: 10px;
    width: 84%;
    height: auto;
    padding: 10px;
    float: right;
}
#content p {
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}
#content h2{
    margin-top: 15px;
    margin-bottom: 5px;
    color: #b6a99b;
}
#content li {
    list-style: none;
}
#content li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(lista.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 10px;
    vertical-align: middle;
}
#content h1,p,ul {
    padding: 5%px;
}

#footer {
    clear: both;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}