body,
html {
    height: 100%;
}

.logo {
    width: 50px;
    height: auto;
}
.form-container {
    margin-top: 60px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 30px;
}

.form-control {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.form-control:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.btn-primary {
    background-color: grey;
    border-color: grey;
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: rgb(91, 91, 91);
    border-color: rgb(91, 91, 91);
}

label {
    font-weight: bold;
    color: #333;
}

.row {
    margin-bottom: 15px;
}

.col-form-label {
    font-size: 1.1rem;
}

textarea {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    resize: none;
}
 