body{
    background-color: rgb(214, 214, 214);
    margin: 0;
    height: 100%;
}
.cabecera{
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 10px;
    background-color: white;
}
.logoInstagram{
    width: 60px;
    height: auto;
    border-right: 1px solid black;
    padding-right: 15px;
    padding-left: 435px;
}
.letrasInstagram {
    width: 150px;
    height: auto;
    color:black;
    margin-left: 15px;

}
.lupa {
    width: 18px;
    color: #a5a7aa;
    position: absolute;
    margin-top: 25px;
    margin-left: 450px;
}
.buscador {
    position: absolute;
    padding: 5px 30px;
    margin-top: 20px;
    margin-left: 505px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 11px;
    text-align: center;
    color: #a5a7aa;
}
.content {
    width: 840px;
    height: 500px;
    margin-left:550px;
    margin-top: 50px;
    height: auto;
    border: 1px solid rgb(194, 194, 194);
}
.cartelera{
    width: 465px;
    height: auto;
    display: block;

}
