html{
    font-family: 'Segoe UI';
}
body{
    background-color: rgb(235, 235, 235);
    margin: 0;
    height: 100%;
}
.cabecera{
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 10px;
    background-color: white;
}
.logoInstagram{
    width: 60px;
    height: auto;
    border-right: 1px solid black;
    padding-right: 15px;
    padding-left: 435px;
}
.letrasInstagram {
    width: 150px;
    height: auto;
    color:black;
    margin-left: 15px;

}
.lupa {
    width: 18px;
    color: #a5a7aa;
    position: absolute;
    margin-top: 25px;
    margin-left: 450px;
}
.buscador {
    position: absolute;
    padding: 5px 30px;
    margin-top: 20px;
    margin-left: 505px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 11px;
    text-align: center;
    color: #a5a7aa;
}
.content {
    display: flex;
    width: 833px;
    margin-left:550px;
    margin-top: 50px;
    height: auto;
    border: 1px solid rgb(225, 225, 225);
}
.cartelera{
    width: 465px;
    height: auto;
    display: block;
}
.fotoPerfil{
    margin-top: 10px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: 15px;
    border: 2px solid rgb(219, 1, 172);
}
.comentarios{
    margin-left: 0px;
}
.nombreArtista{
    font-weight: bold;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 15px;
}
.primeraLinea{
    display: inline-flex;
    width: 369px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.verficado {
    width: 14px;
    height: 14px;
    margin-top: 15px;
    margin-left: 2px;
}
.seguir{
    color:rgb(43, 160, 219);
    font-weight: bold;
    margin-left: 1px;
    font-size: 14px;
    margin-top: 15px;
}
.localizacion{
    font-size: 12px;
    position: absolute;
    margin-left: 58px;
    margin-top: 35px;
}
.segundaLinea{
    display: inline-flex;
    width: 325px;
    height: 95px;
}
.fotoPerfil2{
    margin-top: 35px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid rgb(219, 1, 172);
    margin-right: 15px;
}
.gira {
    margin-top: 25px;
    font-size: 14px;
}
span {
    font-weight: bold;
}
.duracion{
    margin-left: 60px;
    margin-top: 0px;
    font-size: 12px;
    color: #a5a7aa;
}

.more{
    margin-left: 155px;
    margin-top: 20px;
    width: 35px;
    height: 35px;
}

.terceraLinea{
    display: inline-flex;
    width: 325px;
    height: 95px;
}

.fotoPerfil3{
    margin-top: 55px;
    margin-left: 8px;
    width: 34px;
    height: 34px;
    border-radius: 100px;
    margin-right: 15px;
}
.gira2 {
    margin-top: 45px;
    font-size: 14px;
}
.duracion2{
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 82px;
    font-size: 12px;
    color: #a5a7aa;
}
.tercerComentario{
    display: inline-flex;
    width: 369px;
    height: 130px;
    border-bottom: 1px solid rgb(225, 225, 225);
}
.pennultimaLinea{
    border-bottom: 1px solid rgb(225, 225, 225);
}
.corazon{
    margin-left: 15px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}
.coment{
    margin-left: 9px;
    width: 25px;
    height: 25px;
}
.compartir{
    margin-left: 9px;
    width: 25px;
    height: 25px;
}
.guardar{
    margin-left: 212px;
    width: 25px;
    height: 25px;
}
.likes{
    font-size: 14px;
    margin-left: 16px;
}
.fechaPublicacion{
    margin-left: 16px;
    font-size: 12px;
    color: #a5a7aa;
}
.ultimaLinea{
    margin-left: 16px;
    width: 325px;
}
.enlace{
    text-decoration: none;
}
.texto{
    color: #a5a7aa;
}



